.header__lang-link {
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    justify-self: flex-end;
    text-decoration: none;
    transition-timing-function: linear;
    transition-duration: .4s;
}

/* .header__lang-link[type="radio"] {
    width: 0;
    height: 0;
    overflow: hidden;
}
.header__lang-link[type="radio"]:checked + .header__pseudo-lang-link {
    text-decoration-line: underline;
} */
.header__lang-link:hover {
    opacity: .8;
}
@media (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}