.place__title {
    margin: 0;
    padding: 0;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: white;
    margin-bottom: 48px;
}
@media (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}
@media (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 32px;
    }
}
@media (min-width: 768px) {
    .place__title {
        white-space: pre-wrap;
    }
}