.photo-grid {
    align-self: center;
    justify-self: center;
    width: 90%;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: auto;
    gap: 16px;
    grid-area: photo-grid;
}
@media (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        grid-template-rows: auto;
        gap: 14px;
    }
}
@media (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: auto;
        gap: 16px;
    }
}
@media (max-width: 767px) {
    .photo-grid {
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: auto;
        gap: 12px;
    }
}