.places {
    display: flex;
    flex-direction: column;
    grid-area: places;
    margin: 0 auto;
    width: 984px;
    padding: 92px 0;
}
@media (max-width: 1280px) {
    .places {
        max-width: 90.625%;
    }
}

@media (max-width: 1023px) {
    .places {
        max-width: 93.75%;
        padding: 88px 0;
    }
}
@media (max-width: 767px) {
    .places {
        max-width: 100%;
        padding: 64px 0;
    }
}