.header {
    width: 1184px;
    position: relative;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 28px 0 56px;
    margin: 0 auto;
}



@media (max-width: 1279px) {
    .header {
        width: 90.625%;
        padding-bottom: 48px;
    }
}
@media (max-width: 1023px) {
    .header {
        width: 93.75%;
    }
}
@media (max-width: 767px) {
    .header {
        width: 90%;
        padding-top: 16px;
    }
}