.intro {
    display: flex;
    flex-direction: column;
    grid-area: intro;
    width: 690px;
}
@media (max-width: 767px) {
    .intro {
        width: 288px;
        padding: 0 16px;
    }
}
@media (max-width: 1023px) {
    .intro {
        width: 720px;
    }
}