.footer {
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    padding: 0 48px 24px;
}
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 0 16px 24px;
    }
}