.footer {
    margin: 0 auto;
    width: 1184px;
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    padding: 92px 0 24px;
}


@media (max-width: 1279px) {
    .footer {
        width: 90.625%;
    }
}
@media (max-width: 1023px) {
    .footer {
        width: 93.75%;
        padding: 88px 0 24px;
    }
}
@media (max-width: 767px) {
    .footer {
        width: 90%;
        flex-direction: column;
        padding: 64px 0 24px;
    }
}